body {
    margin: 0;
}
/* div {
    background-color: #8fc0a9;
} */

h1 {
    margin-block-start: 0em;
} 



.top-container {
    height: 200px;
    padding: 20px;
    width: 200px;
    background-color: #8fc0a9;
    border: solid 10px;
}
.middle-container {
    margin-left: 260px;
    border: solid 20px;
    height: 200px;
    width: 200px;
    background-color: red;
}
.bottom-container {
    margin-left: 500px;
    border: solid 10px;
    height: 200px;
    width: 200px;
    background-color: yellow;
}
